{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "useBuiltIns": true
      }
    ],
    "React"
  ],
  "plugins": ["transform-object-rest-spread"]
}
